<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatar sobre pontos com dengue</title>
    <link rel="stylesheet" type="text/css" href="stilos.css">
</head>

<body>
    <div class="menu">
        <h2>Digite no formulário para denunciar pontos com dengue.</h2>
        <button class="btn"><a href="#">Formulário de denúncia</a></button>
    </div>
</body>

</html>
