<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dicas de prevenção e combate ao mosquito da dengue</title>
    <link rel="stylesheet" type="text/css" href="stilos.css">
</head>

<body>
    <div class="menu">
        <h3>Para lidar com a dengue, é importante adotar medidas preventivas para evitar a picada de mosquitos infectados e reduzir a proliferação deles. Use repelentes, roupas que cubram a maior parte do corpo e elimine recipientes com água parada ao redor da casa. Mantenha o quintal limpo e livre de áreas de vegetação densa. Armazene água em recipientes vedados e troque-a regularmente. Tome precauções extras durante viagens para áreas endêmicas de dengue. Fique atento aos sintomas e procure ajuda médica se necessário.</h3>
    </div>
</body>

</html>
