<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos contra o mosquito da dengue</title>
    <link rel="stylesheet" type="text/css" href="stilos.css">
</head>

<body>
    <div class="menu">
        <h2>Estamos reunidos aqui para que juntos nós possamos lutar contra a dengue. No início de 2024, tivemos um aumento significativo de casos, ultrapassando 1 milhão até fevereiro, em comparação com 1.658.816 casos em todo o ano de 2023.</h2>
        <a href="/contato">Para contatar sobre pontos com dengue</a><br>
        <a href="/dicas">Dicas de prevenção e combate ao mosquito</a><br>
        <a href="/graficos">Ver dados atuais sobre a dengue</a>
    </div>
</body>

</html>
