<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados atuais sobre a dengue</title>
    <link rel="stylesheet" type="text/css" href="stilos.css">
</head>

<body>
    <div class="img">
        <img src="Gráfico_sobre_a_dengue_no_Brasil.png" alt="Gráfico sobre a dengue no Brasil">
        <img src="Comparação_da_dengue_em_2023_com_2024.png" alt="Comparação da dengue em 2023 com 2024">
    </div>
</body>

</html>
